input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: theme('colors.muted');
  font-weight: theme('fontWeight.light');
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: theme('colors.muted');
  font-weight: theme('fontWeight.light');
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: theme('colors.muted');
  font-weight: theme('fontWeight.light');
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: theme('colors.muted');
  font-weight: theme('fontWeight.light');
}

input::placeholder,
textarea::placeholder {
  color: theme('colors.muted');
  font-weight: theme('fontWeight.light');
}
