html { 
  color: theme('colors.body'); 
  font-family: theme('fontFamily.body');
  line-height: theme('lineHeight.default');
  font-weight: theme('fontWeight.normal');
}

h1 { font-weight: theme('fontWeight.light'); }
h2 { font-family: theme('fontFamily.heading'); font-weight: theme('fontWeight.normal'); }
h3 { font-family: theme('fontFamily.heading'); font-weight: theme('fontWeight.normal'); }
h4 { font-weight: theme('fontWeight.normal'); }
h5 { font-weight: theme('fontWeight.normal'); }
h6 { font-weight: theme('fontWeight.normal'); }

button, input, textarea {
  font-weight: theme('fontWeight.normal');
}

@media (min-width: theme('screens.md.default')) {
  html                      { font-size: theme('fontSize.base.default'); --font-size: 'base'; }
  h1                        { font-size: theme('fontSize.h1.default'); --font-size: 'h1'; }
  h2                        { font-size: theme('fontSize.h2.default'); --font-size: 'h2'; }
  h3                        { font-size: theme('fontSize.h3.default'); --font-size: 'h3'; }
  h4                        { font-size: theme('fontSize.h4.default'); --font-size: 'h4'; }
  h5                        { font-size: theme('fontSize.h5.default'); --font-size: 'h5'; }
  h6                        { font-size: theme('fontSize.h6.default'); --font-size: 'h6'; }
  button, input, textarea   { font-size: theme('fontSize.input.default');--font-size: 'input'; }
}

@media (max-width: theme('screens.sm.max')) {
  html                      { font-size: theme('fontSize.base.mobile'); --font-size: 'base-mobile'; }
  h1                        { font-size: theme('fontSize.h1.mobile'); --font-size: 'h1-mobile'; }
  h2                        { font-size: theme('fontSize.h2.mobile'); --font-size: 'h2-mobile'; }
  h3                        { font-size: theme('fontSize.h3.mobile'); --font-size: 'h3-mobile'; }
  h4                        { font-size: theme('fontSize.h4.mobile'); --font-size: 'h4-mobile'; }
  h5                        { font-size: theme('fontSize.h5.mobile'); --font-size: 'h5-mobile'; }
  h6                        { font-size: theme('fontSize.h6.mobile'); --font-size: 'h6-mobile'; }
  button, input, textarea   { font-size: theme('fontSize.input.mobile');--font-size: 'input-mobile'; }
}

a {
  @apply text-primary underline;
}

mark {
  background-color: inherit;
}


