@tailwind utilities;

@color-primary:               theme('colors.primary.default');
@color-primary-light:         theme('colors.primary.light');
@color-primary-dark:          theme('colors.primary.dark');
@color-primary-extra-light:   theme('colors.primary.extra-light');
@color-primary-extra-dark:    theme('colors.primary.extra-dark');

@color-danger:                theme('colors.danger.default');
@color-danger-light:          theme('colors.danger.light');
@color-danger-dark:           theme('colors.danger.dark');
@color-danger-extra-light:    theme('colors.danger.extra-light');
@color-danger-extra-dark:     theme('colors.danger.extra-dark');

@color-warning:                theme('colors.warning.default');
@color-warning-light:          theme('colors.warning.light');
@color-warning-dark:           theme('colors.warning.dark');
@color-warning-extra-light:    theme('colors.warning.extra-light');
@color-warning-extra-dark:     theme('colors.warning.extra-dark');

@color-secondary:    theme('colors.secondary');
@color-body:         theme('colors.body');
@color-background:   theme('colors.background');
@color-light:        theme('colors.light');
@color-muted:        theme('colors.muted');
@color-white:        theme('colors.white');
  
@screen-sm:          theme('screens.sm.default');
@screen-md:          theme('screens.md.default');
@screen-lg:          theme('screens.lg.default');
@screen-xl:          theme('screens.xl.default');

@screen-xs-max:    	theme('screens.xs.max');
@screen-sm-max:    	theme('screens.sm.max');
@screen-md-max:    	theme('screens.md.max');
@screen-lg-max:    	theme('screens.lg.max');

@icon-xs:            theme('iconSize.xs');
@icon-sm:            theme('iconSize.sm');
@icon-md:            theme('iconSize.md');
@icon-lg:            theme('iconSize.lg');
@icon-xl:            theme('iconSize.xl');
@icon-xxl:           theme('iconSize.xxl');
  
@font-body:          theme('fontFamily.body');
@font-heading:       theme('fontFamily.heading');
 
 
@spacer-0:           theme('spacing.0');
@spacer-2:           theme('spacing.2');
@spacer-4:           theme('spacing.4');
@spacer-8:           theme('spacing.8');
@spacer-12:          theme('spacing.12');
@spacer-16:          theme('spacing.16');
@spacer-20:          theme('spacing.20');
@spacer-24:          theme('spacing.24');
@spacer-32:          theme('spacing.32');
@spacer-48:          theme('spacing.48');
@spacer-64:          theme('spacing.64');

@text-base:          theme('fontSize.base.default');
@text-input:         theme('fontSize.input.default');
@text-h1:            theme('fontSize.h1.default');
@text-h2:            theme('fontSize.h2.default');
@text-h3:            theme('fontSize.h3.default');
@text-h4:            theme('fontSize.h4.default');
@text-h5:            theme('fontSize.h5.default');
@text-h6:            theme('fontSize.h6.default');

@text-base-mobile:   theme('fontSize.base.mobile');
@text-input-mobile:  theme('fontSize.input.mobile');
@text-h1-mobile:     theme('fontSize.h1.mobile');
@text-h2-mobile:     theme('fontSize.h2.mobile');
@text-h3-mobile:     theme('fontSize.h3.mobile');
@text-h4-mobile:     theme('fontSize.h4.mobile');
@text-h5-mobile:     theme('fontSize.h5.mobile');
@text-h6-mobile:     theme('fontSize.h6.mobile');


@h-input:            theme('height.input');
@h-input-compact:    theme('height.input-compact');
@h-navbar:    			theme('height.navbar');
@h-dropdown-item:		theme('height.dropdown-item');

@p-input:            theme('padding.input');
@p-button:            theme('padding.button');
@p-input-compact:    theme('padding.input-compact');

.border-box          { box-sizing: border-box; }

.align-sub           { vertical-align: sub; }
.align-super         { vertical-align: super; }

.border-x            { border-left-width: 1px; border-right-width: 1px;}
.border-y            { border-top-width: 1px; border-bottom-width: 1px;}
.border-x-0          { border-left-width: 0; border-right-width: 0;}
.border-y-0          { border-top-width: 0; border-bottom-width: 0;}

.no-outline,
.no-outline:active,
.no-outline:focus    { outline: 0;}

.flex-center {
   display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.text-base					{ font-size: theme('fontSize.base.default'); --font-size: 'base';	}
.text-input					{ font-size: theme('fontSize.input.default');--font-size: 'input';	}
.text-h1						{ font-size: theme('fontSize.h1.default'); 	--font-size: 'h1';	}
.text-h2						{ font-size: theme('fontSize.h2.default'); 	--font-size: 'h2';	}
.text-h3						{ font-size: theme('fontSize.h3.default'); 	--font-size: 'h3';	}
.text-h4						{ font-size: theme('fontSize.h4.default'); 	--font-size: 'h4';	}
.text-h5						{ font-size: theme('fontSize.h5.default'); 	--font-size: 'h5';	}
.text-h6						{ font-size: theme('fontSize.h6.default'); 	--font-size: 'h6';	}

.text-base-mobile			{ font-size: theme('fontSize.base.mobile'); 	--font-size: 'base-mobile';	}
.text-input-mobile		{ font-size: theme('fontSize.input.mobile'); --font-size: 'input-mobile';	}
.text-h1-mobile			{ font-size: theme('fontSize.h1.mobile'); 	--font-size: 'h1-mobile';	}
.text-h2-mobile			{ font-size: theme('fontSize.h2.mobile'); 	--font-size: 'h2-mobile';	}
.text-h3-mobile			{ font-size: theme('fontSize.h3.mobile'); 	--font-size: 'h3-mobile';	}
.text-h4-mobile			{ font-size: theme('fontSize.h4.mobile'); 	--font-size: 'h4-mobile';	}
.text-h5-mobile			{ font-size: theme('fontSize.h5.mobile'); 	--font-size: 'h5-mobile';	}
.text-h6-mobile			{ font-size: theme('fontSize.h6.mobile'); 	--font-size: 'h6-mobile';	}

