@import "./base/base.css";
@import "./base/typography.css";
@import "./base/placeholder.css";
html {
  background-color: theme('colors.background');
}


/**
 * make SVGs respect the fill color in IE11
*/
[data-ui="Icon"] svg {
  fill: currentColor;
}
